* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #1b262c;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  color: #f08a5d;
  font-family: "Kreon", serif;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  top: 10px;
  animation-name: OnePunch-h1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  letter-spacing: 5px;
}
@keyframes OnePunch-h1 {
  0% {
    left: 0px;
  }
  100% {
    left: 40.5%;
  }
}
p {
  color: #f4f6ff;
  font-family: "Kreon", serif;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  animation-name: OnePunch-p;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  text-align: right;
  padding: 10px;
  letter-spacing: 3px;
}

@keyframes OnePunch-p {
  0% {
    right: 0;
  }
  100% {
    right: 43.5%;
  }
}

header {
  background-color: #290001;
  border: 5px solid black;
}

#wrapper {
  position: relative;
  width: 100vw;
  height: 100%;
}

#wrapper div {
  width: 100px;
  height: 100px;
  transition: 1s;
}

#wrapper div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid gray;
  transition: 1s;
}

#heroes-1 {
  position: absolute;
  left: 700px;
  top: 265px;
  animation: heroes-1 12s linear infinite;
}

@keyframes heroes-1 {
  from {
    transform: rotate(0deg) translateX(260px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(260px) rotate(-360deg);
  }
}

#wrapper #heroes-1 img:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 2px 2px 50px #f4f4f4;
}

#heroes-2 {
  position: absolute;
  left: 700px;
  top: 265px;
  animation: heroes-2 12s linear infinite;
}

@keyframes heroes-2 {
  from {
    transform: rotate(0deg) translate(190px, 170px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(190px, 170px) rotate(-360deg);
  }
}

#wrapper #heroes-2 img:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 2px 2px 50px #28df99;
}

#heroes-3 {
  position: absolute;
  left: 700px;
  top: 265px;
  animation: heroes-3 12s linear infinite;
}

@keyframes heroes-3 {
  from {
    transform: rotate(0deg) translateY(260px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateY(260px) rotate(-360deg);
  }
}

#wrapper #heroes-3 img:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 2px 2px 50px #e89f71;
}

#heroes-4 {
  position: absolute;
  left: 700px;
  top: 265px;
  animation: heroes-4 12s linear infinite;
}

@keyframes heroes-4 {
  from {
    transform: rotate(0deg) translate(-190px, 170px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-190px, 170px) rotate(-360deg);
  }
}

#wrapper #heroes-4 img:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 2px 2px 50px #d2e603;
}

#heroes-5 {
  position: absolute;
  left: 700px;
  top: 265px;
  animation: heroes-5 12s linear infinite;
}

@keyframes heroes-5 {
  from {
    transform: rotate(0deg) translateX(-260px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(-260px) rotate(-360deg);
  }
}

#wrapper #heroes-5 img:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 2px 2px 50px #f1f3de;
}

#heroes-6 {
  position: absolute;
  left: 700px;
  top: 265px;
  animation: heroes-6 12s linear infinite;
}

@keyframes heroes-6 {
  from {
    transform: rotate(0deg) translate(-190px, -170px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-190px, -170px) rotate(-360deg);
  }
}

#wrapper #heroes-6 img:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 2px 2px 50px #fadcac;
}

#heroes-7 {
  position: absolute;
  left: 700px;
  top: 265px;
  animation: heroes-7 12s linear infinite;
}

@keyframes heroes-7 {
  from {
    transform: rotate(0deg) translateY(-260px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateY(-260px) rotate(-360deg);
  }
}

#wrapper #heroes-7 img:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 2px 2px 50px #cf1b1b;
}

#heroes-8 {
  position: absolute;
  left: 700px;
  top: 265px;
  animation: heroes-8 12s linear infinite;
}

@keyframes heroes-8 {
  from {
    transform: rotate(0deg) translate(170px, -190px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(170px, -190px) rotate(-360deg);
  }
}

#wrapper #heroes-8 img:hover {
  transform: scale(2);
  z-index: 1;
  box-shadow: 2px 2px 50px #fccbcb;
}
